body {
  font-family: 'Segoe UI', sans-serif;
  background-image: url("coolbackgrounds-fractalize-sea_edge\ \(1\).png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: rgb(32, 29, 29);
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: rgb(63, 3, 3);
}

a.active:hover {
  color: rgb(192, 14, 14);
}

.main {
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.main_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

/* Content box */
#box {
  width: 50%;
  position: relative;
}

/* Floor Map Styling */
.Floormap {
  width: 45%;
  background-image: url("FLOOR Map hai-Photoroom.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 3;
  position: relative;
  margin-top: 2rem;
  height: 600px;
}

.floor_text {
  text-align: center;
  margin-top: 1rem;
  color: rgb(24, 22, 22);
}

/* Card Styles */
.card {
  /* background-color: rgba(255, 255, 255, 0.85); */
  border-radius: 15px;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card:hover{
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.card-content {
  padding-left: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

/* Responsive Design */
@media (max-width: 1024px) {
  #box {
    width: 100%;
  }

  .Floormap {
    width: 100%;
    height: 400px;
    background-size: contain;
    background-position: center;
  }
}

@media (max-width: 768px) {
  .main_box {
    flex-direction: column;
    align-items: center;
  }

  #box, .Floormap {
    width: 90%;
    height: auto;
    position: relative;
  }

  .Floormap {
    background-size: contain;
    height: 300px;
  }

  h1 {
    font-size: 2rem;
  }

  .floor_text {
    margin-top: 1.5rem;
  }
}

@media (max-width: 480px) {
  .card1, .card2, .card3, .card4 {
    padding: 0.8rem;
  }

  li a {
    font-size: 0.95rem;
  }

  h1 {
    font-size: 1.3rem;
  }

  .Floormap {
    height: 220px;
    background-size: contain;
  }

  .floor_text h2 {
    font-size: 1.2rem;
  }
}
