@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
  background-image: url('trial4.png');
  background-size: cover;         /* cover full screen */
  background-repeat: no-repeat;   /* no repeat */
  background-position: center;    /* center the image */
  font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden;
  padding: 0 10px;
  background-attachment: fixed;
}

hr{
  border: 0.5px solid black;
}

header {
  background: transparent;
  text-align: center;
  padding: 40px 20px;
  font-size: clamp(28px, 4vw, 48px); /* responsive font size */
  font-weight: 600;
  letter-spacing: 2px;
  color: #000;
  font-family: "Oswald", sans-serif;
}

.grid {
  display: flex;
  flex-wrap: wrap;              
  justify-content: center;   
  gap: 20px;
  padding: 40px;
}


.card {
  background: transparent;  /* Grid Background */
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-align: center;
}
.card {
  flex: 1 1 calc(45% - 40px);  /* 3 in a row minus gap */
  max-width: 500px;
  padding: 35px;
}


.card:hover {
  transform: translateY(-5px);
  background-color: transparent;
}
.card a:hover {
  color: #eb0707;
}

/* Link Styling */
.card a {
  color: #000;
  font-size: clamp(18px, 3vw, 26px);
  text-decoration: none;
  transition: color 0.3s ease;
}
@media (max-width: 768px) {
  .card {
    flex: 1 1 100%;
    max-width: 90%;
  }
}


