* {
    margin: 0;
}

body {
    background-image: url("cuders_background.png");
    background-size: cover;
}

#creator_text {
    width: 9rem;
    height: 3rem;
    margin-left: 1rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    color: rgb(134, 24, 42);
}

#creator_text:hover {
    border: 5px solid transparent;
}

.group_pic{
    width: 70%;
    height: auto;
    aspect-ratio: 16/9;
    margin-top: 2rem;
    margin-left: 15%;
    border-radius: 2rem;
    background-image: url("cuders_group3.jpg");
    background-size: cover;
    background-position: center;
}
.group_pic:hover{
    box-shadow: 0 6px 15px rgba(146, 57, 57, 0.5);
    transform: scale(1.03);
}
/* Responsiveness */
@media (max-width: 600px) {
    .group_pic {
        border-radius: 1rem;
        aspect-ratio: 4 / 3;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

.main_body {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sub_container {
    width: 65%;
    height: 17rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-top: 3rem;
    transition: all 0.3 ease;

}

.sub_container:hover {
    border: 5px solid transparent;
    box-shadow: 0 6px 15px rgba(146, 57, 57, 0.5);
    transform: scale(1.03);
}


.photo {
    width: 25%;
    height: 100%;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-size: cover;
}

.discription {
    width: 68%;
    height: 258px;
    margin-top: 0.2rem;
    text-align: justify;
}

#name {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 600;
}

.whatsapp {
    width: 2rem;
    height: 2rem;
    background-size: cover;
    display: inline-block;
    margin-top: 0.3rem;
}

.whatsapp1 {
    display: inline-block;
    margin-right: 0.5rem;
}
/* Responsiveness  */
@media screen and (max-width: 1024px) {
    .sub_container {
        width: 90%;
    }

    .photo {
        width: 30%;
    }

    .discription {
        width: 65%;
    }
}

@media screen and (max-width: 768px) {
    .sub_container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
    }

    .photo {
        width: 80%;
    }

    .img {
        border-radius: 1rem;
    }

    .discription {
        width: 90%;
        padding: 1rem 0;
    }

    #name {
        text-align: center;
    }

    h5 {
        font-size: 0.95rem;
    }
}

@media screen and (max-width: 480px) {
    #creator_text {
        font-size: 1.5rem;
        text-align: center;
    }

    .sub_container {
        width: 95%;
    }

    .photo {
        width: 100%;
    }

    .discription {
        width: 100%;
    }

    .whatsapp {
        width: 1.5rem;
        height: 1.5rem;
    }
}
