@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f1f1f1;
  color: #333;
}

header {
  background: #e0dede;
  text-align: center;
  padding: 40px 0;
  font-size: 2.5em;
  font-weight: 600;
  letter-spacing: 2px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 40px;
}

.card {
  background: white;  /* Grid Background */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}


.card p.subtitle {
  font-size: 0.9em;
  color: #777;
  margin-bottom: 15px;
}

.card p.content {
  font-size: 0.95em;
  line-height: 1.5em;
}
